
<div class= "bg-purple">
  <div class="container line">
    <div class="row text-white">
      <div class="col-sm-8">
      </br>
        <h1>win a Google Home, Chromecast Ultra and a year of nbn™</h1>

        <h6>Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</h6>
        <p>
          <a class="button text-white" href="#">sign up ></a>
      </div>
      <div class="col-sm-4">
        <%= image_tag("house.png", height: '241', width: '345') %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container white-container">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag("img1.svg") %>
        <span class="nobr"><p><strong>no lock-in contracts</strong></p></span>
        <div class="para">
          <p>Freedom to switch your plan or cancel at anytime.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <%= image_tag("img2.svg") %>
        <span class="nobr"><p><strong>simple to join</strong></p></span>
        <div class="para">
          <p>FQuick and easy online sign-up, we’ll take care of all the fiddly bits.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <%= image_tag("img3.svg") %>
        <span class="nobr"><p><strong>easy to manage</strong></p></span>
        <div class="para">
          <p>Download our app or manage your plans online.</p>
        </div>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-sm-4"> -->
        <!-- <%= image_tag("mobile_plans") %> -->
        <!-- <div class="card">
          <div class="card-body">
            <p class="card-text"><strong>sim-only mobile plans<strong></p>
            <p>Unlimited standard talk text with heaps of data for use in Oz.</p>
          </div>
            <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/nbn.png?itok=HQEt97oW," alt="Card image cap">
        </div>
      </div>
      <div class="col-sm-4"> -->
        <%#= image_tag("img2.svg") %>
      <!-- </div>
      <div class="col-sm-4"> -->
        <%#= image_tag("img3.svg") %>
      <!-- </div>
    </div> -->


  </div>
</div>
